.Categories {
    margin: 20px;
}

.Categories a {
    display: inline-block; 
    padding: 10px; 
    border: 1px solid #ccc; 
    margin-right: 10px; 
}

.Categories a:last-child {
    margin-right: 0; 
}
